<div id="wrapper">
   <ul id="portfolio" class="clearfix">
      <li><a href="../img/CSEE17/CSEE1.jpg"><img src="../img/CSEE17/CSEE1.jpg"></a></li>

      <li><a href="../img/CSEE17/CSEE2.jpg"><img src="../img/CSEE17/CSEE2.jpg"></a></li>

      <li><a href="../img/CSEE17/CSEE3.jpg"><img src="../img/CSEE17/CSEE3.jpg"></a></li>

      <li><a href="../img/CSEE17/CSEE4.jpg"><img src="../img/CSEE17/CSEE4.jpg"></a></li>

      <li><a href="../img/CSEE17/CSEE5.jpg"><img src="../img/CSEE17/CSEE5.jpg"></a></li>

      <li><a href="../img/CSEE17/CSEE6.jpg"><img src="../img/CSEE17/CSEE6.jpg"></a></li>

      <li><a href="../img/CSEE17/CSEE7.jpg"><img src="../img/CSEE17/CSEE7.jpg"></a></li>

      <li><a href="../img/CSEE17/CSEE8.jpg"><img src="../img/CSEE17/CSEE8.jpg"></a></li>

      <li><a href="../img/CSEE17/CSEE9.jpg"><img src="../img/CSEE17/CSEE9.jpg"></a></li>

      <li><a href="../img/CSEE17/CSEE10.jpg"><img src="../img/CSEE17/CSEE10.jpg"></a></li>

      <li><a href="../img/CSEE17/CSEE11.jpg"><img src="../img/CSEE17/CSEE11.jpg"></a></li>

      <li><a href="../img/CSEE17/CSEE12.jpg"><img src="../img/CSEE17/CSEE12.jpg"></a></li>
  </ul>
</div>